<!-- views/sample.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
<<<<<<< HEAD
        <title>Home</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <script defer src="/script/swup.min.js"></script>
        <script defer src="/script/swup-preload.min.js"></script>
        <script defer src="/script/script.js"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css" >
        <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/fontawesome/css/brands.css" rel="stylesheet">
        <link href="/fontawesome/css/solid.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="#" class="logo">Logo</a>
            <nav id="swup-nav">
                <a href="/home" class="active">Home</a>
                <a href="/memo" class="inactive">Memo</a>
                <% if(login) { %>
                    <a href="#" class="login" onclick="logout()">Logout</a>
                <% } else{ %>
                    <a href="/login" class="login">Login</a>
                <% } %>
            </nav>
        </header>
        <main id="swup" class="transition-fade">
            <h2>
                <%= message %>
            </h2>
            <div >
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Member</th>
                        <th scope="col">Task</th>
                        <th scope="col">Priority</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < data.length; i++) { %>
                            <tr>
                                <th><span><%= data[i].member %></span></th>
                                <td ><span style="text-decoration: <%= data[i].done?'line-through':'none' %>;"><%= data[i].task %></span></td>
                                <td ><h6 class="priority"><span class="<%= data[i].priority %>"><%= data[i].priority %> priority</span></h6></td>
                            </tr>
                        <% } %>  
                    </tbody>
                </table>
            </div>
        </main>
=======
    </head>
    <body style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
        <h2>
            Welcome user 
            <span style="color:blue;">
                <%= username %>
            </span>
        </h2>
        <h3>
            Message: <%= message %>
        </h3>
        <div style="display:flex; flex-wrap: wrap;">
            <div style="border: 1px solid #000; border-radius: 3px; margin:20px; padding: 10px;">
                <h3>
                    Logout form
                </h3>
                <form action="/logout" method="POST">
                    <input type="submit" />
                </form>
            </div>
        </div>
>>>>>>> 2258311 (first commit)
    </body>
</html>