<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>2FA Registration</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <script defer src="/script/swup.min.js"></script>
        <script defer src="/script/swup-preload.min.js"></script>
        <script defer src="/script/script.js"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css" >
    </head>
    <body>
        <header>
            <a href="#" class="logo">Logo</a>
            <nav id="swup-nav">
                <a href="/home" class="inactive">Home</a>
                <a href="/memo" class="inactive">Memo</a>
                <% if(login) { %>
                    <a href="/2fa" class="active">2FA</a>
                    <a href="#" class="login" onclick="logout()">Logout</a>
                <% } else{ %>
                    <a href="/login" class="login">Login</a>
                <% } %>
            </nav>
        </header>
        <div class="spinner"></div>
        <main id="swup" class="transition-fade">
            <h3>Username: <%= username %></h3>
            <h3>2FA status: <%= data ? 'Active' : 'Inactive' %></h3> 
            <form action="/auth/2fa/<%= data ? 'deactivate': 'activate' %>" method="POST">
                <button type="submit"><%= data ? 'Deactivate': 'Activate' %></button>
            </form>
            <img src="<%= data %>">
            <% if(data) { %>
                <h3>Scan QRcode and register 2FA to your authenticator app</h3>
            <% } %>
            
        </main>
    </body>
</html>